<!DOCTYPE html>
<html>
<head>
    <title>My Form</title>
</head>
<body>
    <h1>My Form</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Input for Image -->
        <label for="image">Select an image:</label><br>
        <input type="file" id="image" name="image"><br><br>
        
        <!-- Text Field 1 -->
        <label for="text_field_1">Text Field 1:</label><br>
        <input type="text" id="text_field_1" name="text_field_1"><br><br>
        
        <!-- Text Field 2 -->
        <label for="text_field_2">Text Field 2:</label><br>
        <input type="text" id="text_field_2" name="text_field_2"><br><br>
        
        <!-- Number Field -->
        <label for="number_field">Number Field:</label><br>
        <input type="number" id="number_field" name="number_field"><br><br>
        
        <button type="submit">Submit</button>
    </form>
    {% for i in img %}
    
    <img src={{i.image.url}} alt="image">
    {% endfor %}
</body>
</html>